

.footer {
    position: fixed;
    bottom: 0;
    background-color:#641585;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    & h6 {
        color: white;
        font-size: 40px;
    }
    & fa-icon {
        color: white;
        font-size: 40px;
    }
}

ion-icon {
	color: blue;
	}