<form (ngSubmit)="submit()" [formGroup]="signInForm" #formDir="ngForm">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div>
            <label for="email">Email:</label>
            <input type="text" placeholder="Coloque seu email" formControlName="email" required=""/>
            <div *ngIf="email.invalid && formDir.submitted">
                <p *ngIf="email.errors?.['required']"> O email é obrigatorio</p>
            </div>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" placeholder="Coloque sua senha" formControlName="password" required/>
            <div *ngIf="password.invalid && formDir.submitted">
                <p *ngIf="password.errors?.['required']"> A senha é obrigatoria</p>
            </div>
        </div>
        <input type="submit"/>
    </div>
    
</form>
