<div class="d-flex align-items-center justify-content-center search">
    <form>
        <fa-icon [icon]="faSearch"></fa-icon>
        <input type="text" 
        placeholder="Busque por um valor"
        (input)="search($event)"/>
    </form>
</div>
<div class="d-flex flex-column align-items-center justify-content-center container">
    <div *ngIf="transactions.length > 0; else noTransactions">
        <div *ngFor="let transaction of transactions" class="d-flex moves" routerLink="/home/{{transaction.id}}">
            <h2>{{transaction.price}}</h2>
            <h2>{{transaction.created}}</h2>
        </div>
    </div>
    <ng-template #noTransactions>
        <h2>não há transações cadastradas!</h2>
    </ng-template>
</div>
<div class="d-flex align-items-center justify-content-center mt-5">
    <div class="botton" routerLink="/new-entry">
        <h3> nova entrada </h3>
    </div>
    <div class="botton" routerLink="/new-exit">
        <h3> nova saida </h3>
    </div>
</div>

